{% extends "base.html" %} {% block content %}
<div class="wrapper1">
  <div class="title-text">Forgot Password</div>
  <div class="form-container1">
    <form action="" method="post" class="forgot-password-form">
      <div class="field">
        <input
          type="text"
          name="username"
          placeholder="Enter your username"
          required
        />
      </div>
      <div class="field">
        <input
          type="email"
          name="email"
          placeholder="Enter your email"
          required
        />
      </div>
      <div class="field btn">
        <div class="btn-layer1"></div>
        <input type="submit" value="Submit" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
