{% extends "base.html" %} {% block content %}
<div class="wrapper1">
  <div class="title-text">Reset Password</div>
  <div class="form-container1">
    <form action="" method="post" class="reset-password-form">
      <div class="field">
        <input
          type="password"
          name="password"
          placeholder="Enter new password"
          required
        />
      </div>
      <div class="field">
        <input
          type="password"
          name="confirm_password"
          placeholder="Confirm new password"
          required
        />
      </div>
      <div class="field btn">
        <div class="btn-layer1"></div>
        <input type="submit" value="Reset Password" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
